<div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
    <h2 id="welcome">Welcome to my personal site.</h2>
    <p>
        My name is Ondřej, and I’m from Czech Republic.
        I’m a software engineer with more than 10 years of experience (mostly in backed services),
        currently living in Berlin and working for <a href="https://inside.getyourguide.com" target="_blank">GetYourGuide</a>.
    </p>
    <h3 id="public-profiles">Public profiles</h3>
    <p>
        You can find more about my professional career on <a href="www.linkedin.com/in/ondrejfuhrer" target="_blank">LinkedIn</a>.
        For some of my personal projects you can check my public <a href="https://github.com/ondrejfuhrer" target="_blank">Github profile</a>.
        I’m also on <a href="https://keybase.io/ondrejfuhrer" target="_blank">Keybase.io</a> so if you would like to chat securely 🔐, meet me there.
        Feel free to follow me on <a href="https://twitter.com/ondrejfuhrer" target="_blank">Twitter</a> as well.
    </p>
    <p>Have a great day!</p>
    <p>
        PS: Site is still Work in progress, I'm currently migrating my posts here.
    </p>
</div>
